.header {
  box-sizing: border-box;
  background-color: teal;
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;
  color: yellow;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: lightyellow;
}
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  display: inline;
}
.nav-links a {
  color: yellow;
  text-decoration: underline;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
